extends ../layouts/base

block variables
	- pageTitle = 'Home'
	- pageDescription = 'Page-specific description'
	- pageKeywords = 'Page-specific keywords'


block body-content
	header
		.container
			nav
				a.hdr_link(href='#') Home
				a.hdr_link(href='#') About
				a.hdr_link(href='#') Blog
				a.hdr_link(href='#') Contact
			.sign
				a.hdr_link(href='#') Register
				| &nbsp;-&nbsp;
				a.hdr_link(href='#') Log in

	section.promo
		.container
			.promo_header
				h1.logo
					span.slogan Your ideas live in no-time!
				.proposal

			.slider
				input#button-one.slider_radio(type='radio', name='controls', checked='checked')
				label.slider_control(for='button-one')
				input#button-two.slider_radio(type='radio', name='controls')
				label.slider_control(for='button-two')
				input#button-three.slider_radio(type='radio', name='controls')
				label.slider_control(for='button-three')

				ul.slider_inner
					li#slide-one.slide
						.slide_info
							h2.slide_title Design example
							p.slide_date In Wordpress Themes, by gerbengeeraerts, on 20th Septemer 2012
							p.slide_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id eros nibh. Fsce ut augue nunc. Vestibulum ante ipsum primis in faucibus orci luctus t ultrices posuere cubilia Curae; Praesent viverra laoreet enim sagitti sodales. Proin pharetra felis sed magna feugiat pellentesque.
							p.slide_text Aliquam eget nulla vitae felis dictum consequat. Pellentesque laoreet erat plcerat augue dignissim a molestie sapien egestas. Quisque ac scelerique velit. Pellentesque ligula orci, vehicula in interdum ut, molesti in lectus. Cras aliquet augue eget ipsum ullamcorper vulputate. Curabitr semper volutpat vulputate. Morbi neque leo, suscipit euismod vestibuum ac, suscipit ut mi. Nullam sapien quam, iaculis vitae egesta accumsn,
						figure.slide_image
							img(src='static/images/slide-one.png', alt='Some picture')
							figcaption
								a(href='#') View more of this design

					li#slide-two.slide
						.slide_info
							h2.slide_title Design example
							p.slide_date In Wordpress Themes, by gerbengeeraerts, on 10th Septemer 2012
							p.slide_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id eros nibh. Fsce ut augue nunc. Vestibulum ante ipsum primis in faucibus orci luctus t ultrices posuere cubilia Curae; Praesent viverra laoreet enim sagitti sodales.
							p.slide_text Aliquam eget nulla vitae felis dictum consequat. Pellentesque laoreet erat plcerat augue dignissim a molestie sapien egestas. Quisque ac scelerique velit. Pellentesque ligula orci, vehicula in interdum ut, molesti in lectus. Cras aliquet augue eget ipsum ullamcorper vulputate.
							p.slide_text Curabitr semper volutpat vulputate. Morbi neque leo, suscipit euismod vestibuum ac, suscipit ut mi. Nullam sapien quam, iaculis vitae egesta accumsn
						figure.slide_image
							img(src='static/images/slide-two.png', alt='Some picture')
							figcaption
								a(href='#') View more of this design

					li#slide-three.slide
						.slide_info
							h2.slide_title Design example
							p.slide_date In Wordpress Themes, by gerbengeeraerts, on 1th Septemer 2012
							p.slide_text Aliquam eget nulla vitae felis dictum consequat. Pellentesque laoreet erat plcerat augue dignissim a molestie sapien egestas. Quisque ac scelerique velit. Pellentesque ligula orci, vehicula in interdum ut, molesti in lectus. Cras aliquet augue eget ipsum ullamcorper vulputate.
							p.slide_text Curabitr semper volutpat vulputate. Morbi neque leo, suscipit euismod vestibuum ac, suscipit ut mi. Nullam sapien quam, iaculis vitae egesta accumsn
						figure.slide_image
							img(src='static/images/slide-three.png', alt='Some picture')
							figcaption
								a(href='#') View more of this design
	section.main-content
		.container
			.choice
				h2.main_title Why choose WebOnDemand?
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis viverra adipiscing. Aenean enim urna, consectetur ut pharetra id, bibendum nec enim.Morbi id diam nisi, vel interdum ipsum. Phasellus turpis nunc, mattis ut commodo molestie, tristique sit amet sem. Mauris nisi lectus, consequat elementum commodo eget, fringilla non ipsum. Ut in lectus eu mi ultricies sagittis at eget nibh. Nam vitae risus leo, sit amet euismod lorem. Maecenas vitae ligula vitae felis sagittis semper. Sed sit amet libero a diam tempus gravida. Cras venenatis libero at dolor cursus vitae ullamcorper nulla dictum. Donec euismod dolor sed lectus vestibulum porttitor. Nunc mi augue, faucibus ut sagittis vitae, vestibulum eget sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at nisl nulla, non pharetra libero. Nam enim massa, accumsan nec feugiat at, accumsan vitae augue. Fusce diam urna, aliquet vel dictum ac, lobortis sit amet est.
			.testimonials
				h2.main_title Testimonials
				.comment
					img.avatar(src='static/images/ava.jpg', alt='Some avatar')
					p Integer quis rutrum tortor. Curabitur lobortis erat ac enim porttitor tempus. Morbi luctus tempus porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuerecubilia Curae; Vivamus elementum lacinia sodales.Aenean sagittis, ante sed ullamcorper feugiat, risus nibh venenatis ante, acvarius quam erat vitae odio.
					p by gerbengeeraerts at 20th May 2010
				.comment
					img.avatar(src='static/images/ava.jpg', alt='Some other avatar')
					p Integer eu ante in dolor vestibulum auctor. Nulla elementum mauris at eros gravida ac accumsan tellus semper. Cras tortor quam, ullamcorper nec facilisis eget, ultricies sed sem. Donec non bibendum arcu. Vestibulum viverra tincidunt enim, at lobortis urna malesuada et. Fusce sapien diam, ultrices et vehicula at, gravida vitae odio. Suspendisse potenti. Cum sociis penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque sit amet commodo nibh.
					p by gerbengeeraerts at 20th May 2010
			.projects
				h2.main_title More projects
				a.project.first(href='#', title='Project name') Project name
				a.project.second(href='#', title='Project name') Project name
				a.project.third(href='#', title='Project name') Project name
				a.project.fourth(href='#', title='Project name') Project name
			.request
				h2.main_title Request a design
				p Always wondered how something you saw on the web is realised?
				p Contact us via the link below and we&grave;ll get back at you as soon as possible!
				a.request_btn(href='#') Contact us!
			.news
				h2.main_title Newsletter
				p Be the first to know our latest updates!
				form.subscribe-form(action='#', method='post')
					input(type='email', name='Emailaddress', placeholder='Email address', id='')
					input(type='submit', value='Subscribe!')
	footer
		.container
			.copyright
				| Copyright 2010 WebOnDemand - gerbengeeraerts.be
				br
				| All rights reserved.
			.social
				span Follow us:
				a.icon.fb(href='#', title='Facebook') Facebook
				a.icon.tw(href='#', title='Twitter') Twitter
				a.icon.gplus(href='#', title='Google+') Google+
				a.icon.in(href='#', title='Linkedin') Linkedin
				a.icon.rss(href='#', title='Rss feed') Rss feed
				a.icon.fl(href='#', title='Flickr') Flickr
				a.icon.you(href='#', title='YouTube') YouTube
