extends ../layouts/base

block variables
  - pageTitle = 'Home'
  - pageDescription = 'Page-specific description'
  - pageKeywords = 'Page-specific keywords'


block body-content
  // $Page header
  header.page-header
    .page-header__inner

      // $Page navigation
      nav.page-nav
        a.page-nav__link(href='#') Home
        a.page-nav__link(href='#') About
        a.page-nav__link(href='#') Blog
        a.page-nav__link(href='#') Contact

      // $Actions
      .actions
        a.actions__link(href='#') Register
        a.actions__link(href='#') Log in


  // $Promo
  section.promo
    .promo__inner
      .promo__header
        .promo__logo

          // $Logo
          h1.logo
            span.logo__text Your ideas live in no-time!

        .promo__proposal

      // $Slider
      .slider
        input#button-one.slider__radio(type='radio', name='controls', checked='checked')
        label.slider__control(for='button-one')

        input#button-two.slider__radio(type='radio', name='controls')
        label.slider__control(for='button-two')

        input#button-three.slider__radio(type='radio', name='controls')
        label.slider__control(for='button-three')

        ul.slider__items
          li#slide-one.slider__item
            .slider__item-info
              h2.slider__item-title Design example
              p.slider__item-date In Wordpress Themes, by gerbengeeraerts, on 20th Septemer 2012
              p.slider__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id eros nibh. Fsce ut augue nunc. Vestibulum ante ipsum primis in faucibus orci luctus t ultrices posuere cubilia Curae; Praesent viverra laoreet enim sagitti sodales. Proin pharetra felis sed magna feugiat pellentesque.
              p.slider__item-text Aliquam eget nulla vitae felis dictum consequat. Pellentesque laoreet erat plcerat augue dignissim a molestie sapien egestas. Quisque ac scelerique velit. Pellentesque ligula orci, vehicula in interdum ut, molesti in lectus. Cras aliquet augue eget ipsum ullamcorper vulputate. Curabitr semper volutpat vulputate. Morbi neque leo, suscipit euismod vestibuum ac, suscipit ut mi. Nullam sapien quam, iaculis vitae egesta accumsn,
            figure.slider__item-image
              img(src='static/images/slide-one.png', alt='Some picture')
              figcaption: a(href='#') View more of this design

          li#slide-two.slider__item
            .slider__item-info
              h2.slider__item-title Design example
              p.slider__item-date In Wordpress Themes, by gerbengeeraerts, on 10th Septemer 2012
              p.slider__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id eros nibh. Fsce ut augue nunc. Vestibulum ante ipsum primis in faucibus orci luctus t ultrices posuere cubilia Curae; Praesent viverra laoreet enim sagitti sodales.
              p.slider__item-text Aliquam eget nulla vitae felis dictum consequat. Pellentesque laoreet erat plcerat augue dignissim a molestie sapien egestas. Quisque ac scelerique velit. Pellentesque ligula orci, vehicula in interdum ut, molesti in lectus. Cras aliquet augue eget ipsum ullamcorper vulputate.
              p.slider__item-text Curabitr semper volutpat vulputate. Morbi neque leo, suscipit euismod vestibuum ac, suscipit ut mi. Nullam sapien quam, iaculis vitae egesta accumsn
            figure.slider__item-image
              img(src='static/images/slide-two.png', alt='Some picture')
              figcaption: a(href='#') View more of this design

          li#slide-three.slider__item
            .slider__item-info
              h2.slider__item-title Design example
              p.slider__item-date In Wordpress Themes, by gerbengeeraerts, on 1th Septemer 2012
              p.slider__item-text Aliquam eget nulla vitae felis dictum consequat. Pellentesque laoreet erat plcerat augue dignissim a molestie sapien egestas. Quisque ac scelerique velit. Pellentesque ligula orci, vehicula in interdum ut, molesti in lectus. Cras aliquet augue eget ipsum ullamcorper vulputate.
              p.slider__item-text Curabitr semper volutpat vulputate. Morbi neque leo, suscipit euismod vestibuum ac, suscipit ut mi. Nullam sapien quam, iaculis vitae egesta accumsn
            figure.slider__item-image
              img(src='static/images/slide-three.png', alt='Some picture')
              figcaption: a(href='#') View more of this design


  // $Page content
  main.page-content
    .page-content__inner

      // $Choice
      .choice
        h2.choice__title Why choose WebOnDemand?
        p.choice__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis viverra adipiscing. Aenean enim urna, consectetur ut pharetra id, bibendum nec enim.Morbi id diam nisi, vel interdum ipsum. Phasellus turpis nunc, mattis ut commodo molestie, tristique sit amet sem. Mauris nisi lectus, consequat elementum commodo eget, fringilla non ipsum. Ut in lectus eu mi ultricies sagittis at eget nibh. Nam vitae risus leo, sit amet euismod lorem. Maecenas vitae ligula vitae felis sagittis semper. Sed sit amet libero a diam tempus gravida. Cras venenatis libero at dolor cursus vitae ullamcorper nulla dictum. Donec euismod dolor sed lectus vestibulum porttitor. Nunc mi augue, faucibus ut sagittis vitae, vestibulum eget sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at nisl nulla, non pharetra libero. Nam enim massa, accumsan nec feugiat at, accumsan vitae augue. Fusce diam urna, aliquet vel dictum ac, lobortis sit amet est.

      // $Testimonials
      .testimonials
        h2.testimonials__title Testimonials
        ul.testimonials__list
          li.testimonials__item
            img.testimonials__avatar(src='static/images/ava.jpg', alt='Some avatar')
            p.testimonials__text Integer quis rutrum tortor. Curabitur lobortis erat ac enim porttitor tempus. Morbi luctus tempus porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuerecubilia Curae; Vivamus elementum lacinia sodales.Aenean sagittis, ante sed ullamcorper feugiat, risus nibh venenatis ante, acvarius quam erat vitae odio.
            p.testimonials__text by gerbengeeraerts at 20th May 2010
          li.testimonials__item
            img.testimonials__avatar(src='static/images/ava.jpg', alt='Some other avatar')
            p.testimonials__text Integer eu ante in dolor vestibulum auctor. Nulla elementum mauris at eros gravida ac accumsan tellus semper. Cras tortor quam, ullamcorper nec facilisis eget, ultricies sed sem. Donec non bibendum arcu. Vestibulum viverra tincidunt enim, at lobortis urna malesuada et. Fusce sapien diam, ultrices et vehicula at, gravida vitae odio. Suspendisse potenti. Cum sociis penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque sit amet commodo nibh.
            p.testimonials__text by gerbengeeraerts at 20th May 2010

      // $Projects
      .projects
        h2.projects__title More projects
        a.projects__link.projects__link_first(href='#', title='Project name') Project name
        a.projects__link.projects__link_second(href='#', title='Project name') Project name
        a.projects__link.projects__link_third(href='#', title='Project name') Project name
        a.projects__link.projects__link_fourth(href='#', title='Project name') Project name

      // $Request
      .request
        h2.request__title Request a design
        p.request__text Always wondered how something you saw on the web is realised?
        p.request__text Contact us via the link below and we&grave;ll get back at you as soon as possible!
        a.request__btn(href='#') Contact us!

      // $News
      .news
        h2.news__title Newsletter
        p.news__text Be the first to know our latest updates!

        // $Subscribe form
        form.subscribe-form(action='#', method='post')
          input(type='email', name='Emailaddress', placeholder='Email address', id='')
          input(type='submit', value='Subscribe!')


  // $Page footer
  footer.page-footer
    .page-footer__inner

      .page-footer__copyright
        | Copyright 2010 WebOnDemand - gerbengeeraerts.be
        br
        | All rights reserved.

      // $Social
      .social
        span.social__title Follow us:
        ul.social__list
          li.social__item: a.social__link.social__link_fb(href='#', title='Facebook') Facebook
          li.social__item: a.social__link.social__link_tw(href='#', title='Twitter') Twitter
          li.social__item: a.social__link.social__link_gplus(href='#', title='Google+') Google+
          li.social__item: a.social__link.social__link_in(href='#', title='Linkedin') Linkedin
          li.social__item: a.social__link.social__link_rss(href='#', title='Rss feed') Rss feed
          li.social__item: a.social__link.social__link_fl(href='#', title='Flickr') Flickr
          li.social__item: a.social__link.social__link_you(href='#', title='YouTube') YouTube
