////////////////////////////////////////
// $Actions
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block = ".actions"

{$block}
  float right
  margin-right 20px


  // $Actions link
  &__link
    display inline-block
    color #d7d7d7
    text-transform uppercase
    font-weight bold

    &:first-of-type:after
      content "-"
      display inline-block
      margin 0 10px
