////////////////////////////////////////
// $Choice
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block = ".choice"

{$block}
  gs-column(1,1,1%)
  margin-bottom 20px


  // $Choice title
  &__title
    padding-bottom 12px
    margin-bottom 15px
    border-width 0
    border-bottom 1px solid #d2d2d2
