////////////////////////////////////////
// $Page header
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block = ".page-header"

{$block}
  width 100%
  min-height 35px
  padding-top 10px
  background-color #0f0e16
  border-bottom 1px solid rgba(255,255,255, .5)


  // &page header inner container
  &__inner
    max-width 1024px
    margin 0 auto
    clearfix()
