////////////////////////////////////////
// $Page footer
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block = ".page-footer"

{$block}
  color #fff
  font-weight bold
  font-size 12px
  border-top 1px solid #000
  padding 20px 0 45px 15px
  background-image: linear-gradient(to bottom, #100e16, #262330)
  clearfix()

  @media screen and (max-width:640px)
    text-align center


  // $Page footer inner container
  &__inner
    max-width 1024px
    margin 0 auto
    clearfix()


  // $Page footer copyright
  &__copyright
    line-height 1.2
    float left

    @media screen and (max-width:640px)
      float none
      margin-bottom 10px
