////////////////////////////////////////
// $Page content
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block = ".page-content"

{$block}
  position relative
  padding 30px 0
  color #000
  background-image: linear-gradient(to bottom, #e5e5e5, #fff)


  // $Page content inner container
  &__inner
    max-width 1024px
    margin 0 auto
    clearfix()
