.page-header
	width 100%
	min-height 35px
	padding-top 10px
	background-color #0f0e16
	border-bottom 1px solid rgba(255,255,255, .5)

	&__inner
		max-width 1024px
		margin 0 auto
		clearfix()


.page-nav
	float left
	margin-left 20px

	&__inner
		max-width 1024px
		margin 0 auto
		clearfix()

	&__link
		display inline-block
		margin-right 50px
		color #d7d7d7
		text-transform uppercase
		font-weight bold



.promo
	width 100%
	background url("../images/slider-bg.jpg") center 0 no-repeat
	background-size cover

	&__inner
		max-width 1024px
		margin 0 auto
		clearfix()

	&__header
		min-height 140px
		padding-top 20px
		clearfix()

	&__logo
		float left
		margin 30px 0 0 30px

	&__proposal
		float right
		width 45%
		height 90px
		margin-right 30px
		background-color rgba(255,255,255, 0.1)
		border 1px solid rgba(238,200,170, 0.3)



.slider
	position relative
	width 100%
	height 340px
	margin 10px auto 0
	background-color #0e0e16
	overflow hidden
	border-radius 10px 10px 0 0
	box-shadow 0 0 0 10px rgba(0,0,0, 0.3)
	clearfix()

	&__radio
		display none

	&__control
		position absolute
		right 10px
		top 45%
		z-index 100
		width 13px
		height 13px
		background-color rgba(255,255,255,.8)
		cursor pointer
		border-radius 50%
		box-shadow inset 1px 1px 2px 0 rgba(0,0,0,.8)
		transition background-color .5s

		&[for=button-one]
			margin-top -25px

		&[for=button-three]
			margin-top 25px

	#button-one:checked~label[for=button-one]
		background-color rgba(100,100,100,1)

	#button-two:checked~label[for=button-two]
		background-color rgba(100,100,100,1)

	#button-three:checked~label[for=button-three]
		background-color rgba(100,100,100,1)

	#button-one:checked~.slider__items
		margin-top 0

	#button-two:checked~.slider__items
		margin-top -340px

	#button-three:checked~.slider__items
		margin-top -680px

	&__items
		width 100%
		transition all, .5s

	&__item
		width 100%
		height 340px
		padding 25px 35px 0 25px
		clearfix()

	&__item-info
		float left
		width 50%

	&__item-title
		font-size 24px
		color #e5e5e5
		font-weight bold

	&__item-date
		color #2a2a3e
		font-weight bold
		margin-top 10px

	&__item-text
		color #87878b
		margin-top 12px

	&__item-image
		float right
		width 47%
		margin-right 3%
		text-align center

		& img
			max-height 230px
			overflow hidden

		& figcaption
			display block
			text-align right

		& a
			color #018af4


.page-content
	position relative
	padding 30px 0
	color:#000
	background-image: linear-gradient(to bottom, #e5e5e5, #fff)

	&__inner
		max-width 1024px
		margin 0 auto
		clearfix()



.testimonials
	gs-column(1,2,1%)

	&__title
		padding-bottom 12px
		margin-bottom 15px
		border-width 0
		border-bottom 1px solid #d2d2d2

	&__list
		list-style none

	&__item
		clearfix()

		&:not(:last-child)
			padding-bottom 10px
			margin-bottom 10px
			border-bottom 1px solid #d2d2d2

	&__avatar
		float left
		border 5px solid #fff
		margin-right 10px


	 &__text
		font-style italic
		padding-left 110px

		&:last-child
			font-weight bold
			margin-top 10px


.projects
	gs-column(1,2,1%)

	&__title
		padding-bottom 12px
		margin-bottom 15px
		border-width 0
		border-bottom 1px solid #d2d2d2

	&__link
		display inline-block
		width 101px
		height 101px
		background url("../images/more_projects-sprite.jpg") 0 0 no-repeat
		margin-bottom 10px
		margin-right 3%
		font-size 0
		color transparent
		transition all, .5s

		&:hover
			transform: scale(1.2)

		&:last-child
			margin-right 0

		&_first
			background-position 0 0

		&_second
			background-position -102px 0

		&_third
			background-position -204px 0

		&_fourth
			background-position -306px 0


.request
	position relative
	min-height 220px
	gs-column(1,4,1%)

	&__title
		padding-bottom 12px
		margin-bottom 15px
		border-width 0
		border-bottom 1px solid #d2d2d2

	&__btn
		display block
		position absolute
		width 100%
		height 60px
		bottom 0
		margin-top 15px
		border 10px solid #e6e6e6
		cursor pointer
		color #018af4
		font-size 13px
		line-height 35px
		font-weight bold
		text-align center

		background-image: linear-gradient(to bottom, #fff, #f1f1f1)

		&:hover
			text-decoration none

			background-image: linear-gradient(to top, #fff, #f1f1f1)



.page-footer
	color #fff
	font-weight bold
	font-size 12px
	border-top 1px solid #000
	padding 20px 0 45px 15px
	background-image: linear-gradient(to bottom, #100e16, #262330)
	clearfix()

	&__inner
		max-width 1024px
		margin 0 auto
		clearfix()

	&__copyright
		line-height 1.2
		float left


.social
	float right

	&__title
		vertical-align top

	&__list
		list-style none

	&__item
		display inline-block

	&__link
		display block
		width 20px
		height 20px
		margin-right 3px
		background url("../images/soc-sprite.png") 0 0 no-repeat
		font-size 0
		color transparent
		.rotate(15deg)

		&_fb
			background-position 0 0
			&:hover
				background-position 0 -20px


		&_tw
			background-position -20px 0
			&:hover
				background-position -20px -20px


		&_gplus
			background-position -40px 0
			&:hover
				background-position -40px -20px


		&_in
			background-position -60px 0
			&:hover
				background-position -60px -20px


		&_rss
			background-position -80px 0
			&:hover
				background-position -80px -20px


		&_fl
			background-position -100px 0
			&:hover
				background-position -100px -20px


		&_you
			background-position -120px 0
			&:hover
				background-position -120px -20px



@media screen and (max-width:980px)
	.testimonials
		padding-bottom 30px
		gs-column(1,1,1%)

	.projects
		gs-column(1,1,1%)
		text-align center

	.request
		gs-column(1,2,1%)


@media screen and (max-width:800px)
	.slider__item-info
		width 100%
		margin-bottom 10px
		text-align center

	.slider__item-text
		display none

	.slider__item-image
		width 100%
		margin-right 0

		& figcaption
			text-align center


@media screen and (max-width:640px)
	h2
		text-align center

	nav .hdr_link
		margin-right 20px

	.proposal
		float none
		width 90%
		margin 10px auto 20px

	.slider__item
		padding-top 10px

	.page-footer
		text-align center

	.copyright
		float none
		margin-bottom 10px

	.social
		float none

