/* =========================================================
   Reset css by http://meyerweb.com/eric/tools/css/reset/ 
   ========================================================= */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
input,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input[type=submit] {
  cursor: pointer;
}
/* =========================================================
   orlovmax.com less elements library v1.1
   ===================================
   More info at https://github.com/orlovmax/less-elements
   ========================================================= */
.hidentext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.bg-cover {
  -webkit-background-size: cover;
  background-size: cover;
}
.bg-contain {
  -webkit-background-size: contain;
  background-size: contain;
}
/* =========================================================
   Fluid grid system for less css
   More at https://github.com/orlovmax/fluid-less-grid
   ========================================================= */
/* Clearfix hack */
.clear {
  clear: both;
}
.clear:before,
.clear:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
}
/*column mixin: there are four variables, column count for current element, total column count in row, horizontal gutter and vertical gutter
By default it sets to 1 column of 12 total columns without gutters. Note, that gutter sets in percents, not pixels.*/
/*row-column - column with clearfix, that allows to move it to the new line. Useful for nested grids. Has the same variables as column and in the same order*/
/*offset mixin allows to push column left or right on some distance. Expected settings: distance-column count to move on, total column count in row, horizontal gutter like in other columns. 
By default	it sets to 1 column of 12 total columns without gutters. Gutter units - percents*/
/* =========================================================
   Custom styles
   ========================================================= */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #d7d7d7;
}
p {
  color: #5b5b5b;
  line-height: 1.1;
}
h2 {
  font-size: 24px;
  font-weight: normal;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  clear: both;
}
.container:before,
.container:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
}
header {
  width: 100%;
  min-height: 35px;
  padding-top: 10px;
  background-color: #0f0e16;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
nav {
  float: left;
  margin-left: 20px;
}
nav .hdr_link {
  margin-right: 50px;
}
.sign {
  float: right;
  margin-right: 20px;
}
.hdr_link {
  display: inline-block;
  color: #d7d7d7;
  text-transform: uppercase;
  font-weight: bold;
}
.promo {
  width: 100%;
  background: url("../img/slider-bg.jpg") center 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.promo_header {
  min-height: 140px;
  padding-top: 20px;
  clear: both;
}
.promo_header:before,
.promo_header:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.logo {
  float: left;
  width: 280px;
  height: 50px;
  margin: 30px 0 0 30px;
  background: url("../img/logo.png") 0 0 no-repeat;
}
.slogan {
  display: block;
  text-align: right;
  padding-top: 35px;
  font-size: 13px;
  color: #0e0e16;
}
.proposal {
  float: right;
  width: 45%;
  height: 90px;
  margin-right: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(238, 200, 170, 0.3);
}
.slider {
  position: relative;
  width: 100%;
  height: 340px;
  margin: 10px auto 0;
  background-color: #0e0e16;
  overflow: hidden;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
  clear: both;
}
.slider:before,
.slider:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.slider_radio {
  display: none;
}
.slider_control {
  position: absolute;
  right: 10px;
  top: 45%;
  z-index: 100;
  width: 13px;
  height: 13px;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.8);
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.8);
  -webkit-transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -ms-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}
label[for=button-one] {
  margin-top: -25px;
}
label[for=button-three] {
  margin-top: 25px;
}
#button-one:checked ~ label[for=button-one] {
  background-color: #646464;
}
#button-two:checked ~ label[for=button-two] {
  background-color: #646464;
}
#button-three:checked ~ label[for=button-three] {
  background-color: #646464;
}
#button-one:checked ~ .slider_inner {
  margin-top: 0;
}
#button-two:checked ~ .slider_inner {
  margin-top: -340px;
}
#button-three:checked ~ .slider_inner {
  margin-top: -680px;
}
.slider_inner {
  width: 100%;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.slide {
  width: 100%;
  height: 340px;
  padding: 25px 35px 0 25px;
  clear: both;
}
.slide:before,
.slide:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.slide_info {
  float: left;
  width: 50%;
}
.slide_title {
  font-size: 24px;
  color: #e5e5e5;
  font-weight: bold;
}
.slide_date {
  color: #2a2a3e;
  font-weight: bold;
  margin-top: 10px;
}
.slide_text {
  color: #87878b;
  margin-top: 12px;
}
.slide_image {
  float: right;
  width: 47%;
  margin-right: 3%;
  text-align: center;
}
.slide_image img {
  max-height: 230px;
  overflow: hidden;
}
.slide_image figcaption {
  display: block;
  text-align: right;
}
.slide_image a {
  color: #018af4;
}
.main-content {
  position: relative;
  padding: 30px 0;
  color: #000;
  background: #e5e5e5;
  background-image: -webkit-gradient(linear, top, from(#e5e5e5), to(#ffffff));
  background: -webkit-linear-gradient(top, #e5e5e5, #ffffff);
  background: -moz-linear-gradient(top, #e5e5e5, #ffffff);
  background: -ms-linear-gradient(top, #e5e5e5, #ffffff);
  background: -o-linear-gradient(top, #e5e5e5, #ffffff);
  background: linear-gradient(top, #e5e5e5, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
}
.choice {
  float: left;
  width: 98%;
  margin: 0% 1%;
  margin-bottom: 20px;
}
.main_title {
  padding-bottom: 12px;
  margin-bottom: 15px;
  border-width: 0;
  border-bottom: 1px solid #d2d2d2;
}
.testimonials {
  float: left;
  width: 48%;
  margin: 0% 1%;
}
.comment {
  clear: both;
}
.comment:before,
.comment:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.comment:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d2d2d2;
}
.comment img {
  float: left;
  border: 5px solid #fff;
  margin-right: 10px;
}
.comment p {
  font-style: italic;
  padding-left: 110px;
}
.comment p:last-child {
  font-weight: bold;
  margin-top: 10px;
}
.projects {
  float: left;
  width: 48%;
  margin: 0% 1%;
}
.project {
  display: inline-block;
  width: 101px;
  height: 101px;
  background: url("../img/more_projects-sprite.jpg") 0 0 no-repeat;
  margin-bottom: 10px;
  margin-right: 3%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.project:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.project:last-child {
  margin-right: 0;
}
.project.first {
  background-position: 0 0;
}
.project.second {
  background-position: -102px 0;
}
.project.third {
  background-position: -204px 0;
}
.project.fourth {
  background-position: -306px 0;
}
.request {
  position: relative;
  min-height: 220px;
  float: left;
  width: 23%;
  margin: 0% 1%;
}
.request_btn,
input[type=submit] {
  display: block;
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  margin-top: 15px;
  border: 10px solid #e6e6e6;
  cursor: pointer;
  color: #018af4;
  font-size: 13px;
  line-height: 35px;
  font-weight: bold;
  text-align: center;
  background: #ffffff;
  background-image: -webkit-gradient(linear, top, from(#ffffff), to(#f1f1f1));
  background: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
  background: -moz-linear-gradient(top, #ffffff, #f1f1f1);
  background: -ms-linear-gradient(top, #ffffff, #f1f1f1);
  background: -o-linear-gradient(top, #ffffff, #f1f1f1);
  background: linear-gradient(top, #ffffff, #f1f1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ffffff', GradientType=0);
}
.request_btn:hover,
input[type=submit]:hover {
  text-decoration: none;
  background: #ffffff;
  background-image: -webkit-gradient(linear, bottom, from(#ffffff), to(#f1f1f1));
  background: -webkit-linear-gradient(bottom, #ffffff, #f1f1f1);
  background: -moz-linear-gradient(bottom, #ffffff, #f1f1f1);
  background: -ms-linear-gradient(bottom, #ffffff, #f1f1f1);
  background: -o-linear-gradient(bottom, #ffffff, #f1f1f1);
  background: linear-gradient(bottom, #ffffff, #f1f1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ffffff', GradientType=0);
}
.news {
  position: relative;
  min-height: 220px;
  float: left;
  width: 23%;
  margin: 0% 1%;
}
.news input[type=email] {
  width: 100%;
  height: 32px;
  margin-top: 14px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ffffff;
  background-image: -webkit-gradient(linear, top, from(#ffffff), to(#f0f0f0));
  background: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background: -ms-linear-gradient(top, #ffffff, #f0f0f0);
  background: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background: linear-gradient(top, #ffffff, #f0f0f0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ffffff', GradientType=0);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.news input[type=email]:hover {
  -webkit-box-shadow: inset 0 0 1px 0 #018af4;
  -moz-box-shadow: inset 0 0 1px 0 #018af4;
  box-shadow: inset 0 0 1px 0 #018af4;
}
.news input[type=email]::placeholder,
.news input[type=email]::-moz-placeholder,
.news input[type=email]::-webkit-input-placeholder {
  font-size: 13px;
  color: #cccccc;
}
footer {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  border-top: 1px solid #000;
  padding: 20px 0 45px 15px;
  background: #100e16;
  background-image: -webkit-gradient(linear, top, from(#100e16), to(#262330));
  background: -webkit-linear-gradient(top, #100e16, #262330);
  background: -moz-linear-gradient(top, #100e16, #262330);
  background: -ms-linear-gradient(top, #100e16, #262330);
  background: -o-linear-gradient(top, #100e16, #262330);
  background: linear-gradient(top, #100e16, #262330);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262330', endColorstr='#100e16', GradientType=0);
  clear: both;
}
footer:before,
footer:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.copyright {
  line-height: 1.2;
  float: left;
}
.social {
  float: right;
}
.social span {
  vertical-align: top;
}
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: url("../img/soc-sprite.png") 0 0 no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}
.icon.fb {
  background-position: 0 0;
}
.icon.fb:hover {
  background-position: 0 -20px;
}
.icon.tw {
  background-position: -20px 0;
}
.icon.tw:hover {
  background-position: -20px -20px;
}
.icon.gplus {
  background-position: -40px 0;
}
.icon.gplus:hover {
  background-position: -40px -20px;
}
.icon.in {
  background-position: -60px 0;
}
.icon.in:hover {
  background-position: -60px -20px;
}
.icon.rss {
  background-position: -80px 0;
}
.icon.rss:hover {
  background-position: -80px -20px;
}
.icon.fl {
  background-position: -100px 0;
}
.icon.fl:hover {
  background-position: -100px -20px;
}
.icon.you {
  background-position: -120px 0;
}
.icon.you:hover {
  background-position: -120px -20px;
}
/* =========================================================
   Media queries
   ========================================================= */
@media screen and (max-width: 980px) {
  .testimonials {
    padding-bottom: 30px;
    float: left;
    width: 98%;
    margin: 0% 1%;
  }
  .projects {
    float: left;
    width: 98%;
    margin: 0% 1%;
    text-align: center;
  }
  .request {
    float: left;
    width: 48%;
    margin: 0% 1%;
  }
  .news {
    float: left;
    width: 48%;
    margin: 0% 1%;
  }
}
@media screen and (max-width: 800px) {
  .slide_info {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .slide_text {
    display: none;
  }
  .slide_image {
    width: 100%;
    margin-right: 0;
  }
  .slide_image figcaption {
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  h2 {
    text-align: center;
  }
  nav .hdr_link {
    margin-right: 20px;
  }
  .logo {
    float: none;
    margin: 30px auto 0;
  }
  .proposal {
    float: none;
    width: 90%;
    margin: 10px auto 20px;
  }
  .slide {
    padding-top: 10px;
  }
  footer {
    text-align: center;
  }
  .copyright {
    float: none;
    margin-bottom: 10px;
  }
  .social {
    float: none;
  }
}
